.fixed-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header {
  background-color: rgb(123,167,149);
  display: block;
  width: 100%;
}

header img {
  max-height: 50px;
}

header h1 {
  display: inline;
}

nav {
  display: inline;
  background-color: rgb(123,167,149);
}

nav li {
  display: inline;
  list-style: none;
  padding-right: 20px;
}

nav li:first-child {
  padding-left: 50px;
}

nav li a {
  color: rgb(40, 53, 48);
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(108, 145, 130);
}

main {
  max-width: 800px;
  margin: auto;
}

.dynamic-container {
  padding-top: 50px;
}

main p {
  border: 1px #333 solid;
  padding: 50px;
}

@media screen and (max-width: 650px) {
  nav {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  nav li:first-child {
    padding: 5px;
  }

  nav li {
    display: block;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
  }

  main p {
    padding: 20px;
  }
}